<!DOCTYPE html>
<html>
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cookies on the Web</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />

    <!-- style -->
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900"
      rel="stylesheet"
    />
    <!-- local sheets -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/typography.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- lib scripts -->
    <!-- vue -->
    <script src="scripts/libs/vue.js"></script>
    <!-- use minified vue in production -->
    <!-- <script src="scripts/vue.min.js"></script> -->
    <!-- d3 v5 -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="scripts/libs/d3.js"></script>
    <!-- scroll library -->
    <script src="scripts/libs/graph-scroll.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="intro">
        <div id="title">
          <h1>What are your favorite websites storing on your computer?</h1>
          <h4>
            How just one hour of browsing left
            <span class="emphasis">1,117</span> cookies on my computer
          </h4>
          <p id="by">
            <a href="https://andrewlevinson.me" target="_blank"
              >Andrew Levinson</a
            >
            | May, 2019
          </p>
        </div>
        <div id="intro-content">
          <p>
            Cookies are one of the most misunderstood pieces of the modern web.
            While technically a cookie is just a simple
            <a href="#">.txt</a> file that gets stored on your computer when you
            visit websites, it's purposes are often confusing. The same piece of
            technology that allows basic online shopping functionality to work
            on the web is the same piece of technology that allows third parties
            to track your movement across all your online activites.
          </p>
          <p>
            That raw power makes this worthy of a deeper dive. To illustrate
            this, I browsed the US internet's most popular websites
            <sup>[1]</sup>
            for one uninteruped hour and exported the 1,117 cookies that were
            stored on my computer through a Firefox plugin (link and image).
          </p>
        </div>
      </div>
      <div id="chart">
        <div id="graph">
          <div id="graph-title">
            <h3>{{ graphTitle }}</h3>
          </div>
          <div id="filters">
            <span>Filters:</span>
            <!-- exp date filter -->
            <select type="dropdown" v-model="myFilters.exp">
              <option disabled>Filter by Expiration Date</option>
              <option value="0" :aria-placeholder="myFilters.exp"
                >All Durations</option
              >
              <option value="1">More than 1 day</option>
              <option value="50">More than 50 days</option>
            </select>

            <!-- party type filter -->
            <select type="dropdown" v-model="myFilters.party">
              <option disabled>Filter by Cookie Type</option>
              <option value="all" :aria-placeholder="myFilters.party"
                >All Types</option
              >
              <option value="first party">First Party Only</option>
              <option value="third party">Third Party Only</option>
            </select>

            <!-- category filter -->
            <select type="dropdown" v-model="myFilters.category">
              <option disabled>Filter by Category</option>
              <option value="all" :aria-placeholder="myFilters.category"
                >All Categories</option
              >
              <option value="news">News</option>
              <option value="social">Social</option>
              <option value="google">Google</option>
              <option value="ecommerce">ecommerce</option>
            </select>
            <!-- site filter -->
            <select type="dropdown" v-model="myFilters.site">
              <option disabled>Filter by Site</option>
              <option value="all" :aria-placeholder="myFilters.site"
                >All Sites</option
              >
              <option value="Facebook">Facebook</option>
              <option value="Google">Google</option>
              <option value="Amazon">Amazon</option>
              <option value="Wired">Wired</option>
            </select>
          </div>
          <div id="legend">
            <div class="news">
              <div></div>
              <span>News</span>
            </div>
            <div class="ent">
              <div></div>
              <span>Entertainment & Info</span>
            </div>
            <div class="social">
              <div></div>
              <span>Social Media</span>
            </div>
            <div class="shopping">
              <div></div>
              <span>E-commerce</span>
            </div>
            <div class="google">
              <div></div>
              <span>Google Products</span>
            </div>
            <div class="unknown">
              <div></div>
              <span>Unknown</span>
            </div>
          </div>
          <svg :width="svgWidth" :height="svgHeight">
            <g :transform="`translate(${margin.left}, ${margin.bottom})`">
              <g v-axis:x="scale" class="x-axis"></g>
              <g v-axis:y="scale" class="y-axis"></g>
              <g v-grid:gridlines="scale" class="gridlines"></g>

              <g v-for="(d, i) in filteredData">
                <g v-for="(d, i) in d.values">
                  <circle
                    :cx="setShown !== 4 ? (5 + scale.x(i)) : (5 + scale.x(d.days))"
                    :cy="(setShown == 0 ? (scale.y(d.party) + (height * 0.08)) : ((setShown == 1 || setShown == 4) ? (scale.y(d.domain) + 5) : (setShown == 3 ? (scale.y(d.type) + (height * 0.08)):(scale.y(d.cat) + 20))))"
                    :r="3"
                    :name="d.domain"
                    :fill="myFill(d.cat)"
                    :class="[d.id == iSelected ? 'circle-active' : (iSelected !=null ? 'circle-inactive' : 'circle-up')]"
                    @mouseover="showLabel = !showLabel,
              myTooltip(d), select(d.id)"
                    @mouseleave="showLabel = !showLabel, myTooltip(d), select(null)"
                  />
                </g>
              </g>

              <text x="5" :y="svgHeight - margin.bottom - margin.top">
                {{ xAxisLabel }}
              </text>
            </g>
          </svg>
        </div>
        <section id="sections" class="text-content">
          <div class="text-area">
            <h5 class="total">Cookie Classifications by Party</h5>
            <p>
              Cookies can be described as either
              <span class="emphasis">first party</span> or
              <span class="emphasis">third party</span>. The distinction is
              based on whether the cookie comes from the domain of the website
              you're visiting (the website displayed in the URL bar) or whether
              it comes from a different, third party domain (i.e. ads.com).
            </p>
            <p>
              A total of <span class="emphasis">472</span> first party cookies
              and <span class="emphasis">660</span> third party cookies were
              placed on my computer from visiting 25 websites in one hour.
            </p>
            <p>
              That sounds like a lot for such a short amount of time. Let's take
              a look at first party cookies.
            </p>
          </div>
          <div class="text-area">
            <h5 class="total">First Party Cookies Only</h5>
            <p>
              When categorizing by site type, it's clear that both
              <span class="emphasis">News</span> and
              <span class="emphasis">Entertainment</span> related websites
              placed the largest amount of first party cookies on my computer.
            </p>
          </div>
          <div class="text-area">
            <!-- <h5 class="total">First Party Cookies Only</h5> -->
            <p>
              Every site I visited placed at least 2 first party cookies on my
              computer. Yahoo stored just two cookies on my computer while
              Wired.com placed 60 while I was reading a single article.
            </p>
          </div>
          <div class="text-area">
            <!-- <h5 class="total">Cookie Information</h5> -->
            <p>
              What kind of information do we know about each cookie?
            </p>
            <p>
              Click the button below to select a random cookie or hover over any
              point on the graph to explore.
            </p>
            <button @click="randomID()">
              Show me another cookie
            </button>
            <div class="link-contain">
              <a :href="cookieQuery" target="_blank"
                >Show me the purpose of this cookie on Cookiepedia</a
              >
            </div>
          </div>
          <div class="text-area">
            <h5 class="total">Including Third Party</h5>
            <p>
              The first thing you notice if we include third party cookies in
              this plot—aside from the volume—is that many of these have unknown
              origins. While some context clues can help determine what category
              of domain I was browsing, there is no easy way to definitevly say
              what site I was on when these third party cookies were plaed on my
              computer.
            </p>
          </div>
          <div class="text-area">
            <h5 class="total">Cookie Classifications by Type</h5>
            <p>
              In addition to classifying cookies as first party vs. third party,
              cookies can also be classified as
              <span class="emphasis">persistent</span> vs.
              <span class="emphasis">session</span>. Session cookies are only
              stored on your computed while you're browsing and are deleted as
              soon as you close your window. Persistent cookies, on the other
              hand, have an expiration date. During my one hour of browsing,
              <span class="emphasis">92%</span> of the cookies stored were the
              persistent type.
            </p>
            <p>
              In general, session cookies are used for functional purposes like
              keeping you logged into a website or maintining the state of your
              shopping cart across pages on a single domain. On the other hand,
              persistent cookies are often used for targetting and advertising
              purposes.
            </p>
            <p>
              As of this writing, there are no laws or rules that limit
              expiration dates of cookies. Let's take a look at how long these
              1,029 persistent cookies will be stored on my computer.
            </p>
          </div>
          <div class="text-area">
            <h5 class="total">Persistent Cookies Expiration</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              iusto quos tenetur reiciendis, pariatur atque sequi inventore
              perspiciatis necessitatibus suscipit perferendis et dolorum ea
              vitae odit quasi non modi blanditiis nostrum quaerat!
              Exercitationem excepturi in libero corporis. Nostrum sed, at dolor
              hic odit vitae accusamus sapiente. Excepturi beatae consequuntur
              ex!
            </p>
            <div id="slider">
              <label for="domainXSlider"
                >Use the slider to change day range to zoom in or out</label
              ><br />
              <p id="slider-value">Value: {{ domainX.max }}</p>
              <input
                name="domainXSlider"
                type="range"
                min="0"
                max="40000"
                value="40000"
                v-model="domainX.max"
              />
            </div>
          </div>
        </section>
      </div>
      <div class="body-text">
        <!-- <h5 class="total">Expiration Dates</h5> -->
        <p>
          Summary Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, placeat non perferendis laborum rem ducimus
          exercitationem excepturi eius laudantium maxime ad eveniet eligendi
          eos? Commodi ratione harum consectetur corrupti fugit dolorem incidunt
          veniam quae nihil, veritatis quod eveniet facere quis atque omnis odio
          necessitatibus? Sint, quos tempora modi enim veritatis nisi ipsum
          similique ad, voluptate consectetur tenetur rem id est fuga iusto
          accusantium ea, cupiditate dolores dicta repellat magnam quaerat?
          Harum sit obcaecati eum inventore delectus, nisi accusamus
          perspiciatis dolores. Laboriosam cumque in explicabo repellat dolorem
          odit eveniet deleniti harum consectetur et. Ad excepturi qui ea
          dolorem explicabo aliquam dolore.
        </p>
      </div>
      <div class="footnotes">
        <hr class="footer" />
        <h6>Methodology, Sources, and Footnotes</h6>
        <p>
          This story was created by
          <a href="http://andrewlevinson.me/" target="_blank"
            >Andrew Levinson</a
          >
          for an academic publication written by the students of Parsons School
          of Design // The New School.
        </p>
        <p>
          Data was collected using the
        </p>
        <p>
          The scroll events were made possible by use of the
          <a href="https://github.com/1wheel/graph-scroll" target="_blank"
            >graph-scroll.js</a
          >
          JavaScript library.
        </p>
        <p>Footnotes:</p>
        <ol>
          <li>
            <a
              href="https://en.wikipedia.org/wiki/List_of_most_popular_websites"
              >Wikipedia List of Most Popular Websites in the US</a
            >
          </li>
          <li></li>
          <li></li>
        </ol>
        <p>Sources:</p>
        <ol>
          <li></li>

          <li></li>
          <li></li>
        </ol>
        <p>
          Feel free to
          <a
            href="https://github.com/AndrewLevinson/dark-data/tree/master/cookies"
            target="_blank"
            >check out the code</a
          >
          or
          <a href="mailto:andrewlevins@gmail.com" target="_blank">email me</a>.
        </p>
      </div>
    </div>
    <script src="scripts/script.js"></script>
  </body>
</html>
