<!DOCTYPE html>
<html>
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cookies on the Web</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />

    <!-- style -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/typography.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- lib scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  </head>

  <body>
    <div id="container">
      <div id="title">
        <h3>{{ chartTitle }}</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          repellendus fugit unde aut, commodi maiores in sapiente molestias ex
          hic voluptate pariatur doloremque quod illum quibusdam quo! Architecto
          repellat, alias eum accusantium enim dolore, omnis, animi nisi
          corporis quibusdam dolorum voluptates laudantium incidunt. Laborum nam
          cupiditate esse recusandae omnis
        </p>
      </div>
      <div id="chart">
        <div id="filters">
          <span>Filters:</span>
          <!-- exp date filter -->
          <select type="dropdown" v-model="myFilters.exp">
            <option disabled>Filter by Expiration Date</option>
            <option value="0" :aria-placeholder="myFilters.exp"
              >All Durations</option
            >
            <option value="1">More than 1 day</option>
            <option value="50">More than 50 days</option>
          </select>

          <!-- party type filter -->
          <select type="dropdown" v-model="myFilters.party">
            <option disabled>Filter by Cookie Type</option>
            <option value="all" :aria-placeholder="myFilters.party"
              >All Types</option
            >
            <option value="first party">First Party Only</option>
            <option value="third party">Third Party Only</option>
          </select>

          <!-- category filter -->
          <select type="dropdown" v-model="myFilters.category">
            <option disabled>Filter by Category</option>
            <option value="all" :aria-placeholder="myFilters.category"
              >All Categories</option
            >
            <option value="news">News</option>
            <option value="social">Social</option>
            <option value="google">Google</option>
            <option value="ecommerce">ecommerce</option>
          </select>
          <!-- site filter -->
          <select type="dropdown" v-model="myFilters.site">
            <option disabled>Filter by Site</option>
            <option value="all" :aria-placeholder="myFilters.site"
              >All Sites</option
            >
            <option value="Facebook">Facebook</option>
            <option value="Google">Google</option>
            <option value="Amazon">Amazon</option>
            <option value="Wired">Wired</option>
          </select>
        </div>
        <svg :width="svgWidth" :height="svgHeight">
          <g :transform="`translate(${margin.left}, ${margin.bottom})`">
            <g v-for="(d, i) in filteredData">
              <rect
                :x="scale.x(d.name)"
                :y="0"
                :width="scale.x.bandwidth()"
                :height="scale.y(d.expire)"
                :name="d.name"
                :fill="myFill(d.category)"
                @mouseover="showLabel = !showLabel,
              myTooltip(d)"
                @mouseleave="showLabel = !showLabel, myTooltip(d)"
              />
              <rect
                :x="scale.x(d.name) - 10"
                :y="scale.y(d.expire)"
                :width="scale.x.bandwidth() + 20"
                :height="3"
                :name="d.name"
                :fill="myFill(d.purpose)"
              />
              <text
                v-show="showLabel === true"
                :x="scale.x(d.name) + 7"
                :y="scale.y(d.expire) + 18"
                text-anchor="middle"
              >
                {{ d.expire }}
              </text>
            </g>

            <g
              v-axis:x="scale"
              :transform="`translate(${0}, ${0})`"
              id="x-axis"
            ></g>
            <g v-axis:y="scale"></g>
            <text x="5" :y="svgHeight - margin.bottom - margin.top">
              Days Stored on Computer
            </text>
            <text
              :x="svgWidth - margin.right - margin.left - 5"
              y="-8"
              text-anchor="end"
            >
              Cookies Stored: {{ count }}
            </text>
          </g>
        </svg>
      </div>

      <div class="text-content">
        <div v-scroll="handleScrollOne" class="text-area">
          <h5 class="total">Facebook</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            iusto quos tenetur reiciendis, pariatur atque sequi inventore
            perspiciatis necessitatibus suscipit perferendis et dolorum ea vitae
            odit quasi non modi blanditiis nostrum quaerat! Exercitationem
            excepturi in libero corporis. Nostrum sed, at dolor hic odit vitae
            accusamus sapiente. Excepturi beatae consequuntur ex!
          </p>
        </div>
        <div v-scroll="handleScrollTwo" class="text-area">
          <h5 class="total">Amazon</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            iusto quos tenetur reiciendis, pariatur atque sequi inventore
            perspiciatis necessitatibus suscipit perferendis et dolorum ea vitae
            odit quasi non modi blanditiis nostrum quaerat! Exercitationem
            excepturi in libero corporis. Nostrum sed, at dolor hic odit vitae
            accusamus sapiente. Excepturi beatae consequuntur ex!
          </p>
        </div>
        <div v-scroll="handleScrollThree" class="text-area">
          <h5 class="total">Third Party</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            iusto quos tenetur reiciendis, pariatur atque sequi inventore
            perspiciatis necessitatibus suscipit perferendis et dolorum ea vitae
            odit quasi non modi blanditiis nostrum quaerat! Exercitationem
            excepturi in libero corporis. Nostrum sed, at dolor hic odit vitae
            accusamus sapiente. Excepturi beatae consequuntur ex!
          </p>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
