:root {
  --main-bg-color: #f7f7f7;
  --main-text-color: #3b3b3d;
  --link-color: #5f90de;
  --emphasis: lightcoral;
  --cat-news: #863e9e;
  --cat-social: #3c5a99;
  --cat-google: #0f9d58;
  --cat-ecommerce: #ff9900;
  --cat-ent: pink;
  --targeting: #d42c2c;
}

html,
input {
  background-color: var(--main-bg-color);
}

select {
  font-size: 80%;
}

select:hover {
  cursor: pointer;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--emphasis);
  transition: all 0.3s ease-in;
}

p {
  margin-bottom: 1.5rem;
}

#container {
  width: 92.5%;
  padding-top: 2rem;
  margin: 0 auto;
}

/* intro */
#intro {
  padding: 10rem 0 6rem 0;
}

#title {
  text-align: center;
  max-width: 975px;
  margin: 0 auto;
}

#title h4 {
  font-weight: 600;
  opacity: 0.8;
  padding-top: -1rem;
  padding-bottom: 8rem;
}

#intro-content {
  max-width: 65rem;
  margin: 3rem auto;
}

.body-text {
  max-width: 65rem;
  margin: 3rem auto;
}

/* chart */

#chart {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 150px;
  justify-content: space-between;
  /* position: relative; */
}

#graph {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  height: 100vh;
}

#sections {
  /* text boxes */
  padding-bottom: 10rem;
  /* z-index: 999; */
}

#sections > div {
  opacity: 0.3;
  transition: all 0.3s ease-in;
}

#sections div.graph-scroll-active {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.text-area {
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 70%;
  margin-bottom: 40rem;
  margin-top: 10rem;
  font-size: 90%;
}

@media (max-width: 925px) {
  .text-area {
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 30%;
    /* max-width: 800px; */
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 60rem;
    z-index: 999;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 4px rgba(59, 59, 61, 0.4));
  }
}

/* legend and title */
#legend {
  display: flex;
  width: 450px;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-family: "helvetica", sans-serif;
  padding-left: 5px;
}

#graph-title,
#legend {
  /* margin-left: 120px; */
  margin-left: 40px;
}

#legend div div {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.news div {
  background-color: var(--cat-news);
}

.ent div {
  background-color: var(--cat-ent);
}

.social div {
  background-color: var(--cat-social);
}

.shopping div {
  background-color: var(--cat-ecommerce);
}

/* graph elements */
g {
  font-family: "helvetica", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.x-axis .tick line,
.y-axis .tick line,
.x-axis .domain,
.y-axis .domain,
.gridlines .domain {
  display: none;
  opacity: 0;
}

/* .y-axis .tick:first-of-type text {
  font-weight: bold;
} */

.gridlines {
  opacity: 0.3;
  /* stroke-dasharray: 2; */
}

svg,
div,
rect,
path,
text,
circle,
g,
line {
  transition: all 0.5s ease-in-out;
}

circle {
  transition: all 0.9s ease-in-out;
}

.circle-up {
  r: 4;
  opacity: 1;
  stroke: transparent;
  stroke-width: 4px;
  /* transition: all ease-in-out 0.15s; */
}

.circle-active {
  /* fill: #fff; */
  opacity: 1;
  r: 7;
  stroke: var(--main-text-color);
  /* transition: all ease-in-out 0.15s; */
}

circle:hover {
  cursor: pointer;
  /* transition: all ease-in-out 0.15s; */
}

.circle-inactive {
  r: 3;
  opacity: 0.3;
  stroke: none;
  /* transition: all ease-in-out 0.15s; */
}

/* tooltip */
div.tooltip {
  position: fixed;
  max-width: 300px;
  text-align: left;
  display: inline;
  padding: 10px;
  font-size: 1.5rem;
  /* font-size: 1rem; */
  line-height: 1.2;
  /* background-color: #fff; */
  background-color: var(--main-bg-color);
  border: 0px;
  border-radius: 6px;
  pointer-events: none;
  color: var(--main-text-color);
  filter: drop-shadow(0px 2px 8px rgba(59, 59, 61, 0.4));
}

.tooltip h5 {
  padding: 0;
  margin-top: 0.2rem;
  /* line-height: 0; */
  /* margin-bottom: 1.2rem; */
}

/* utilities */
span.emphasis {
  display: inline-block;
  font-weight: 900;
  font-size: 75%;
  opacity: 1;
  color: var(--emphasis);
  /* border-bottom: 1px dashed var(--emphasis); */
  background-color: var(--main-text-color);
  border-radius: 4px;
  white-space: nowrap;
  padding: 0.5rem;
  line-height: 1;
  filter: drop-shadow(0px 1px 3px rgba(59, 59, 61, 0.25));
}

.total {
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-bottom: 2px dashed #68696b;
}
.datum {
  font-weight: bold;
  /* border-bottom: 2px dashed #3d3d3d; */
}

#filters {
  display: none;
}
